.center-block {
    float: none
}

.d-none {
    display: none
}

@media(min-width:768px) {
    #modal-popup-image .modal-dialog {
        width: min-content;
        max-width: min-content;
    }

    #modal-popup-image .modal-dialog .modal-content {
        width: max-content
    }

    #modal-popup-video .modal-dialog {
        max-width: 70%
    }
}

#modal-popup-image .modal-body {
    /*padding-top: 0*/
}

#modal-popup-video .modal-body {
    padding: 18px;
    /*padding-top: 0*/
}
.close{
    position: absolute;
    right: 2px;
    top: -7px;
    font-size: 30px;
}
.deals {
    position: fixed;
    left: 85px;
    width: 350px;
    bottom: 10px;
    z-index: 9;
    background: #fff;
    overflow: hidden;
    box-shadow: 2px 2px 20px 3px #3333334d
}

.deals .close {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1;
    color: #fff;
    border: 0;
    border-radius: 100%;
    z-index: 9
}

.deals .cover_img {
    overflow: hidden
}

.deals .cover_img img {
    width: 100%
}

.deals .cover_cont {
    padding: 15px 25px
}

.deals .cover_contp {
    max-height: 85px
}

.deal {
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6d9d9
}

.deal .cover_cont {
    padding: 15px 0
}

.deal .cover_cont h2 {
    margin-bottom: 25px
}

@media(max-width:767px) {
    body .deals {
        left: 10px;
        bottom: 55px;
        width: 250px;
        z-index: 99
    }
}

.side-icon-block {
    position: fixed;
    left: 20px;
    bottom: 5px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    z-index: 9
}

.side-icon-block li {
    margin-bottom: 5px;
    cursor: pointer
}