<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holiday Types</title>
  <link rel="icon" href="./assets/images/logo.png">
  <link href="./holiday_types_inner.css" rel="stylesheet">
  <link href="./package_listing.css" rel="stylesheet">


  <!-- bootstrp -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css' rel="stylesheet">
  <!-- font-awesome -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' rel="stylesheet">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com' rel="preconnect" />
  <link href='https://fonts.gstatic.com' rel="preconnect" crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
    rel="stylesheet" />
  <link
    href='https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
    rel="stylesheet" />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'
    rel="stylesheet">

</head>

<body>
  <section class="scroll-wrapper">
    <!-- navbar -->
    <jcms:module:header/>


    <!-- nepal-hero-content -->
    <jcms:module:activity-bread/>



    <!-- best_packages -->
    <section class="popular-packages packages-wrapper deals-grid text-center components">
      <h2 class="green-title text-center" id="packagesTitle">
        Best <span class="orange-text">Packages</span>
      </h2>

      <br>

      <div class="package-grid-wrapper">
        <div class="packages-grid  mx-auto" id="packageGrid">

          <jcms:module:activity-package-cards/>

        </div>
      </div>
    </section>



    <jcms:module:activity-travel-guides/>

    
    <!-- footer -->
    <jcms:module:footer/>

  </section>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script src="script.js"></script>

  <script>
    $(document).ready(function () {
      $('.owl-carousel').owlCarousel({
        items: 3,
        loop: true,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 3000,
        stagePadding: 10,
        navText: ["<span class='owl-prev'>&lt</span>", "<span class='owl-next'>&gt</span>"],
        responsive: {
          0: { items: 1 },
          600: { items: 2 },
          1000: { items: 3 }
        }
      })
    });

    const grid = document.getElementById("packageGrid");
    const wrapper = document.querySelector(".package-grid-wrapper");
    const toggleBtn = document.getElementById("toggleBtn");
    const title = document.getElementById("packagesTitle");

    if (grid && wrapper && toggleBtn && title ) {
        const cardTemplate = grid.children[0].outerHTML;
        const cardsPerRow = 3;
        let expanded = false;

        function updateHeight() {
        wrapper.style.maxHeight = grid.scrollHeight + "px";
        }

        updateHeight();
        let resizeTimer;
        window.addEventListener("resize", () => {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(() => {
            updateHeight();
        }, 100);
        });

        toggleBtn.addEventListener("click", () => {
        if (!expanded) {
            for (let i = 0; i < cardsPerRow; i++) {
            grid.insertAdjacentHTML("beforeend", cardTemplate);
            }
            requestAnimationFrame(updateHeight);
            toggleBtn.childNodes[0].textContent = "Load Less";
            expanded = true;
        } else {
            const cards = [...grid.children].slice(-cardsPerRow);
            cards.forEach(card => card.classList.add("removing"));
            title.scrollIntoView({ behavior: "smooth", block: "start" });
            setTimeout(() => {
            cards.forEach(card => card.remove());
            updateHeight();
            }, 350);
            toggleBtn.childNodes[0].textContent = "Load More";
            expanded = false;
        }
        });
    }
  </script>

</body>

</html>