<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
  <link rel="icon" href="./assets/images/logo.png">
  <link rel="stylesheet" href="./blog.css">
  <!-- bootstrp -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css' rel="stylesheet">
  <!-- font-awesome -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' rel="stylesheet">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com' rel="preconnect" />
  <link href="https://fonts.gstatic.com" crossorigin rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <section class="scroll-wrapper">
    <section class="blog-wrapper">
      
      <jcms:module:blog-detail/>

    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const toggleBtns = document.querySelectorAll(".searchToggle");
        const bottomSearch = document.querySelector(".bottomSearch");

        // Toggle on button click
        toggleBtns.forEach((btn) => {
          btn.addEventListener("click", (e) => {
            e.stopPropagation(); // prevent document click from firing
            bottomSearch.classList.toggle("active");
          });
        });

        // Click outside to close
        document.addEventListener("click", (e) => {
          const clickedInsideSearch = bottomSearch.contains(e.target);
          const clickedToggleBtn = [...toggleBtns].some((btn) =>
            btn.contains(e.target)
          );

          if (!clickedInsideSearch && !clickedToggleBtn) {
            bottomSearch.classList.remove("active");
          }
        });
      });
      const planCountry = document.getElementById("planCountry");
      const planCountryCode = document.getElementById("planCountryCode");

      planCountry.addEventListener("change", function () {
        const selected = this.selectedOptions[0];
        const code = selected.getAttribute("data-code") || "";
        planCountryCode.value = code;
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const today = new Date().toISOString().split("T")[0];

        // Apply to all date inputs (safe & future-proof)
        document.querySelectorAll('input[type="date"]').forEach(input => {
          input.setAttribute("min", today);
        });
      });
    </script>

  </section>
</body>

</html>