<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Title Of Site -->
    <jcms:site:seotitle/>

    <!-- Fav and Touch Icons -->
    <jcms:site:fevicon/>

    <!-- Font face -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- CSS Plugins -->
    <link href="css/font-icons.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/animate.html" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/plugin.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="css/style.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="css/your-style.css" rel="stylesheet">
</head>

<body class="with-waypoint-sticky">
    <style>
        .fb_dialog_content iframe{
            bottom: 60px !important;
            right: 0px !important;
        }
    </style>
   
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "424877144534517");
        chatbox.setAttribute("attribution", "page_inbox");
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    
<!-- start Body Inner -->
<div class="body-inner">

    <!-- start Header -->
    <header id="header-waypoint-sticky" class="header-main header-main2 header-mobile-menu with-absolute-navbar">
        <div class="container">
            <div class="header-outer clearfix">
                <div class="row shrink-auto-lg gap-0 align-items-center">
                    <div class="col-9 col-shrink z-in-1111">
                        <div class="col-inner">
                            <div class="main-logo">
                                <jcms:site:logo/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-shrink order-last-lg">
							<div class="col-inner">
								<ul class="nav-mini-right">
									<li>
										<button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu"></button>
									</li>
								</ul>
							</div>
						</div>

                    <div class="col-12 col-auto order-last-lg">
                        <div class="navbar-wrapper">
                            <div class="navbar navbar-expand-lg">
                                <div id="mobileMenu" class="collapse navbar-collapse">
                                    <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                        <jcms:module:menu/>
                                    </nav><!--/.nav-collapse -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- start Header -->

    <!-- start Main Wrapper -->
    <div class="main-wrapper scrollspy-container">

        <section class="page-wrapper">

            <jcms:module:blog:breadcrumb/>

            <div class="container">

                <div class="row equal-height gap-0 gap-lg-40">

                    <div class="col-12 col-lg-8">

                        <div class="content-wrapper pt-50 pb-lg-50">

                            <article class="blog-single-wrapper">

                                <jcms:module:blog:details/>

                                <jcms:module:blog:comments/>

                                <h4 class="heading-title"><span>Leave your comment</span></h4>

                                <div class="alert alert-success" id="msg-success" style="display:none;"></div>
                                <div class="alert alert-danger" id="msg-unsuccess" style="display:none;"></div>

                                <form method="post" action="" id="comment_form" class="comment-form"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="blog_id" value="<jcms:module:blog:id/>">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="comment-name">Your Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="comment-name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="comment-email">Your Email <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="comment-email" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="comment-message">Message <span class="text-danger">*</span></label>
                                                <textarea name="message" id="comment-message" class="form-control"
                                                          rows="8"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Upload Image<span class="text-danger">*</span></label>
                                                <input type="file" id="img" name="img" accept=".jpg,.jpeg,.png"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" id="submit" class="btn btn-primary btn-wide btn-contact-page">Comment
                                            </button>
                                        </div>
                                    </div>
                                </form>


                            </article>

                        </div>

                    </div>

                    <div class="col-12 col-lg-4">

                        <aside class="sidebar-wrapper pv on-right mb-50 mb-lg-0">

                            <div class="sidebar-box">

                                <div class="box-title"><h5>Recent Travel Blogs</h5></div>

                                <div class="box-content">
                                    <ul class="post-small-list">
                                        <jcms:module:blog:recent-blogs/>
                                    </ul>
                                </div>

                            </div>

                        </aside>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <!-- end Main Wrapper -->

    <!-- start Footer Wrapper -->
    <jcms:module:footer/>
    <!-- start Footer Wrapper -->

</div>

<!-- start Back To Top -->
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return to top" data-toggle="tooltip"
   data-placement="left"><i class="elegent-icon-arrow_carrot-up"></i></a>
<!-- end Back To Top -->

<!-- JS -->
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>

<!--Validate form-->
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/additional-methods.js"></script>
<script type="text/javascript">
    var base_url = jQuery('base').attr('url');
    jQuery(document).ready(function () {
        jQuery('#comment_form').validate({
            errorElement: 'span',
            errorClass: 'validate-has-error',
            rules: {
                name: {
                    required: true
                },
                img: {
                    required: true,
                    accept: "jpg,jpeg,png"
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "This field is required. Please enter your Full Name."
                },
                img: {
                    required: "This field is required. Please upload your Image.",
                    accept: "Please upload only jpg, jpeg or png!"
                },
                email: {
                    required: "This field is required. Please enter your Email Address.",
                    email: "Enter Correct Email!"
                },
                message: {
                    required: "This field is required. Please enter your Comments."
                }

            },
            submitHandler: function () {
                var formVal = $('form#comment_form')[0];
                var data = new FormData(formVal);
                $.ajax({
                    type: "POST",
                    url: base_url + 'addComment.php',
                    dataType: 'json',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (data) {
                        var msg = eval(data);
                        jQuery("button#submit").removeAttr("disabled").text('Comment');
                        if(msg.action=='success'){
                            jQuery('div#msg-success').html(msg.message).css('display', 'block').fadeOut(8000);
                        }
                        if(msg.action=='unsuccess'){
                            jQuery('div#msg-unsuccess').html(msg.message).css('display', 'block').fadeOut(8000);
                        }
                        jQuery("form#comment_form")[0].reset();
                    }
                });
                return false;
            }
        })

    });
</script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/custom-core.js"></script>


</body>
</html>