<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" href="template/web/assets/images/logo.png">
  <link href="./about.css" rel="stylesheet">
  <!-- bootstrp -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css' rel="stylesheet">

  <!-- font-awesome -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' rel="stylesheet">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com' rel="preconnect" />
  <link href='https://fonts.gstatic.com' rel="preconnect" crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
    rel="stylesheet" />
  <link
    href='https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fjalla+One&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
    rel="stylesheet" />
  <!-- owl carousel  -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' rel="stylesheet" />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'
    rel="stylesheet" />
</head>

<body>
  <section class="scroll-wrapper">
    <!-- navbar -->
    <jcms:module:header/>


    <!-- ABOUT US SECTION -->
    <jcms:module:articlepage/>

    <!-- OUR TEAM SECTION -->

    <jcms:module:team_list/>


    




    <!-- documents -->
    <section class="documents">
      <h2 class="text-center green-title achievement mb-5">Our Achievement & <span class="orange-text">Honors</span>
      </h2>
      <ul class="awards-list">
        <li>
          <img src="./assets/images/tripadvisor_award.svg" alt="TripAdvisor award">
        </li>
        <li>
          <img src="./assets/images/tripadvisor_award.svg" alt="TripAdvisor award">
        </li>
        <li>
          <img src="./assets/images/tripadvisor_award.svg" alt="TripAdvisor award">
        </li>
      </ul>
    </section>

  <jcms:module:legaldocuments/>
    <!-- footer -->

    <jcms:module:footer/>


  </section>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script src="script.js"></script>
</body>

</html>