<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Title Of Site -->
    <jcms:site:seotitle/>

    <!-- Fav and Touch Icons -->
    <jcms:site:fevicon/>

    <!-- Font face -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- CSS Plugins -->
    <link href="css/font-icons.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/animate.html" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/plugin.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="css/style.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="css/your-style.css" rel="stylesheet">
</head>

<body class="with-waypoint-sticky">
    <style>
        .fb_dialog_content iframe{
            bottom: 60px !important;
            right: 0px !important;
        }
    </style>
   
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "424877144534517");
        chatbox.setAttribute("attribution", "page_inbox");
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    
<!-- start Body Inner -->
<div class="body-inner">
    <!-- start Header -->
    <header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">
        <div class="container">
            <div class="header-outer clearfix">
                <div class="row shrink-auto-lg gap-0 align-items-center">
                    <div class="col-9 col-shrink z-in-1111">
                        <div class="col-inner">
                            <div class="main-logo">
                                <jcms:site:logo/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-shrink order-last-lg">
							<div class="col-inner">
								<ul class="nav-mini-right">
									<li>
										<button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu"></button>
									</li>
								</ul>
							</div>
						</div>

                    <div class="col-12 col-auto order-last-lg">
                        <div class="navbar-wrapper">
                            <div class="navbar navbar-expand-lg">
                                <div id="mobileMenu" class="collapse navbar-collapse">
                                    <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                        <jcms:module:menu/>
                                    </nav><!--/.nav-collapse -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- start Header -->

    <!-- start Main Wrapper -->
    <div class="main-wrapper scrollspy-container">
        <section class="page-wrapper">
            <div class="page-title mb-0 about-banner search-banner">
                <div class="container">
                    <div class="row gap-15 align-items-center bread123">
                        <div class="col-12 col-md-7 search-bread">
                            <jcms:module:package-search-breadcrumb/>
                        </div>
                    </div>
                </div>
                <div class="destination1-text">
                    <jcms:module:package-search-breadcrumb-text/>
                </div>
            </div>

            <div class="container" id="scrolll">
                <div class="section-title search-title1">
                    <jcms:module:package-search-breadcrumb-title/>
                </div>
                <div class="row equal-height gap-30 gap-lg-40">
                    <div class="col-12 col-md-3">
                        <jcms:module:search-searchform/>
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="content-wrapper pv">
                            <div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30" style="display:flex"
                                 id="filter-data">
                                <jcms:module:package-searchlist/>
                            </div>

                            <div class="pager-wrappper mt-40" id="filter-nav">
                                <jcms:module:package-navigation/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="destination1-note" id="read">
                    <jcms:module:package-search-breadcrumb-extra/>
                </div>

            </div>
        </section>
    </div>
    <!-- end Main Wrapper -->

    <!-- start Footer Wrapper -->
    <jcms:module:footer/>
    <!-- start Footer Wrapper -->
</div>
<!-- end Body Inner -->

<!-- start Back To Top -->
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return to top" data-toggle="tooltip"
   data-placement="left"><i class="elegent-icon-arrow_carrot-up"></i></a>
<!-- end Back To Top -->

<!-- JS -->
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/custom-core.js"></script>

<script src="js/jquery.validate.js"></script>
<script type="text/javascript">
    var base_url = jQuery('base').attr('url');

    // Read more
    $('#read_more').on('click', function () {
        $('html, body').animate({
            scrollTop: eval($("#read").offset().top - 100)
        }, 700);
    });

    // form filtering data
    $('.gdays, .qdestination, .qactivities, .gdifficulty, .gprice').on('click', function () {
        var form = $("#search_form");
        $.ajax({
            type: "POST",
            url: base_url + "search_filter.php",
            dataType: "JSON",
            data: "action=filter_data&" + form.serialize(), // serializes the form's elements.
            success: function (data) {
                var msg = eval(data);
                jQuery('div#filter-data').html(msg.result);
                jQuery('div#filter-nav').html(msg.nav);
                //showing rating
                jQuery('input.rating').rating();
                //adding functionality to navigation
                $('.gnav').on('click', function () {
                    $(this).navFunction();
                });
                $('html, body').animate({
                    scrollTop: eval($("#scrolll").offset().top - 70)
                }, 500);
            }
        });
    });

    // navigation function
    $.fn.navFunction = function () {
        var link = $(this).attr("hreff");
        $('#search_form').attr('action', link);
        $('#search_form').submit();
    };
    $('.gnav').on('click', function () {
        $(this).navFunction();
    });

    // $("#search_form").submit(function (e) {
    //     e.preventDefault(); // avoid to execute the actual submit of the form.
    //     var form = $(this);
    //     $.ajax({
    //         type: "POST",
    //         url: base_url + "search_filter.php",
    //         dataType: "JSON",
    //         data: "action=filter_data&" + form.serialize(), // serializes the form's elements.
    //         success: function (data) {
    //             var msg = eval(data);
    //             jQuery('div#filter-data').html(msg.result);
    //             jQuery('div#filter-nav').html(msg.nav);
    //             //showing rating
    //             jQuery('input.rating').rating();
    //             //adding functionality to navigation
    //             $('.gnav').on('click', function () {
    //                 $(this).navFunction();
    //             });
    //             // $('html, body').animate({
    //             //     scrollTop: eval($("#scrolll").offset().top - 70)
    //             // }, 500);
    //         }
    //     });
    // });

</script>
</body>
</html>